<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
    <span>Welcome to {{ title }}!</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="appMenu">
        <mat-icon>menu</mat-icon> Menu
    </button>
</mat-toolbar>
<mat-menu #appMenu="matMenu">
    <button md-menu-item> Settings </button>
    <button md-menu-item> Contact </button>
</mat-menu>
<div style="text-align:center;vertical-align:middle">
    <img width="300" alt="TestingXperts Logo" src="../assets/Testingxperts-Logo.png">
</div>
<div *ngIf="undefined === restItems">Loading...</div>
<div *ngIf="undefined !== restItems" class="demo-list">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>  </th>
            <td mat-cell *matCellDef="let element"> <mat-icon mat-list-icon>account_circle</mat-icon> </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"><b>{{element.name}}</b> </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <ng-container matColumnDef="mobile">
                <th mat-header-cell *matHeaderCellDef> Mobile </th>
                <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
            </ng-container> 
            
            <ng-container matColumnDef="designation">
                <th mat-header-cell *matHeaderCellDef> Designation </th>
                <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
            </ng-container> 

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
</mat-paginator>
</div>